In [162]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
import collections

In [152]:
data_folder = '../../data/age/'

In [153]:
data = pd.read_csv(os.path.join(data_folder, 'transactions_train.csv'), delimiter=',')

In [154]:
data.head()

   client_id  trans_date  small_group  amount_rur
0      33172           6            4      71.463
1      33172           6           35      45.017
2      33172           8           11      13.887
3      33172           9           11      15.983
4      33172          10           11      21.341

In [155]:
enc = LabelEncoder()
data['small_group'] = enc.fit_transform(data['small_group'])

In [163]:
collections.Counter(data['small_group'].values)

Counter({4: 1207604,
         35: 121878,
         11: 3202881,
         18: 1158512,
         1: 8131374,
         3: 2428984,
         82: 245291,
         32: 106237,
         12: 773805,
         40: 19071,
         9: 689342,
         24: 462932,
         33: 51207,
         25: 702896,
         15: 1427077,
         23: 123140,
         46: 89631,
         31: 114765,
         28: 129043,
         80: 45405,
         36: 372445,
         16: 230930,
         43: 77045,
         83: 23320,
         84: 1641,
         58: 57707,
         54: 50203,
         44: 34669,
         21: 121548,
         85: 524,
         8: 99526,
         86: 11985,
         17: 80866,
         26: 106198,
         72: 55073,
         13: 58504,
         19: 42319,
         87: 14018,
         88: 1240,
         20: 96686,
         65: 20156,
         89: 8335,
         39: 92313,
         34: 435229,
         37: 156559,
         5: 81212,
         45: 49636,
         90: 644,
         91: 74688,
         57: 158137,
         0: 165773,
         67: 47846,
         47: 37602,
         68: 16297,
         2: 908408,
         38: 10607,
         51: 5418,
         41: 11556,
         92: 11353,
         10: 89191,
         93: 59,
         78: 40699,
         7: 19752,
         14: 28905,
         62: 21034,
         66: 10944,
         64: 93634,
         94: 880,
         55: 94181,
         59: 4984,
         29: 71664,
         22: 77116,
         53: 30098,
         95: 33058,
         6: 16827,
         42: 17243,
         76: 21327,
         27: 13444,
         96: 2789,
         49: 6371,
         63: 42354,
         77: 24048,
         97: 1130,
         98: 11152,
         105: 5583,
         99: 1916,
         106: 27146,
         107: 706,
         48: 49209,
         52: 20135,
         108: 340,
         30: 73104,
         109: 62417,
         79: 8005,
         61: 103997,
         69: 8181,
         110: 754,
         111: 3254,
         112: 13367,
         113: 748,
         114: 2732,
         100: 1578,
         75: 16287,
         50: 53317,
         101: 6304,
         81: 2676,
         119: 534,
         103: 5437,
         120: 8605,
         121: 2095,
         122: 1470,
         123: 2963,
         74: 17072,
         127: 389,
         129: 492,
         130: 371,
         131: 10515,
         102: 4647,
         132: 551,
         133: 2684,
         124: 1978,
         126: 204,
         135: 1332,
         136: 194,
         117: 424,
         70: 2939,
         137: 2841,
         125: 13802,
         71: 4394,
         138: 851,
         139: 4514,
         141: 835,
         143: 1391,
         145: 164,
         56: 1636,
         149: 195,
         115: 19657,
         150: 442,
         146: 958,
         151: 513,
         152: 18,
         104: 7497,
         156: 602,
         158: 151,
         160: 603,
         140: 789,
         147: 14881,
         153: 678,
         142: 1278,
         163: 365,
         128: 195,
         161: 3321,
         155: 106,
         164: 32,
         144: 1035,
         134: 344,
         165: 60,
         166: 2070,
         148: 281,
         167: 54,
         73: 1080,
         168: 114,
         170: 209,
         154: 580,
         172: 204,
         60: 51,
         174: 125,
         173: 100,
         118: 181,
         177: 58,
         178: 38,
         179: 70,
         180: 96,
         171: 199,
         176: 165,
         182: 64,
         184: 17,
         185: 222,
         116: 549,
         186: 16,
         157: 162,
         169: 289,
         162: 330,
         187: 60,
         181: 73,
         189: 5,
         159: 17,
         190: 28,
         183: 7,
         191: 34,
         192: 4,
         193: 10,
         195: 4,
         194: 11,
         197: 9,
         175: 3,
         198: 1,
         199: 1,
         196: 7,
         200: 2,
         201: 1,
         188: 1})

[[      0  165773]
 [      1 8131374]
 [      2  908408]
 [      3 2428984]
 [      4 1207604]
 [      5   81212]
 [      6   16827]
 [      7   19752]
 [      8   99526]
 [      9  689342]
 [     10   89191]
 [     11 3202881]
 [     12  773805]
 [     13   58504]
 [     14   28905]
 [     15 1427077]
 [     16  230930]
 [     17   80866]
 [     18 1158512]
 [     19   42319]
 [     20   96686]
 [     21  121548]
 [     22   77116]
 [     23  123140]
 [     24  462932]
 [     25  702896]
 [     26  106198]
 [     27   13444]
 [     28  129043]
 [     29   71664]
 [     30   73104]
 [     31  114765]
 [     32  106237]
 [     33   51207]
 [     34  435229]
 [     35  121878]
 [     36  372445]
 [     37  156559]
 [     38   10607]
 [     39   92313]
 [     40   19071]
 [     41   11556]
 [     42   17243]
 [     43   77045]
 [     44   34669]
 [     45   49636]
 [     46   89631]
 [     47   37602]
 [     48   49209]
 [     49    6371]
 [     50   53317]
 [     51    5418]
 [     52   20135]
 [     53   30098]
 [     54   50203]
 [     55   94181]
 [     56    1636]
 [     57  158137]
 [     58   57707]
 [     59    4984]
 [     60      51]
 [     61  103997]
 [     62   21034]
 [     63   42354]
 [     64   93634]
 [     65   20156]
 [     66   10944]
 [     67   47846]
 [     68   16297]
 [     69    8181]
 [     70    2939]
 [     71    4394]
 [     72   55073]
 [     73    1080]
 [     74   17072]
 [     75   16287]
 [     76   21327]
 [     77   24048]
 [     78   40699]
 [     79    8005]
 [     80   45405]
 [     81    2676]
 [     82  245291]
 [     83   23320]
 [     84    1641]
 [     85     524]
 [     86   11985]
 [     87   14018]
 [     88    1240]
 [     89    8335]
 [     90     644]
 [     91   74688]
 [     92   11353]
 [     93      59]
 [     94     880]
 [     95   33058]
 [     96    2789]
 [     97    1130]
 [     98   11152]
 [     99    1916]
 [    100    1578]
 [    101    6304]
 [    102    4647]
 [    103    5437]
 [    104    7497]
 [    105    5583]
 [    106   27146]
 [    107     706]
 [    108     340]
 [    109   62417]
 [    110     754]
 [    111    3254]
 [    112   13367]
 [    113     748]
 [    114    2732]
 [    115   19657]
 [    116     549]
 [    117     424]
 [    118     181]
 [    119     534]
 [    120    8605]
 [    121    2095]
 [    122    1470]
 [    123    2963]
 [    124    1978]
 [    125   13802]
 [    126     204]
 [    127     389]
 [    128     195]
 [    129     492]
 [    130     371]
 [    131   10515]
 [    132     551]
 [    133    2684]
 [    134     344]
 [    135    1332]
 [    136     194]
 [    137    2841]
 [    138     851]
 [    139    4514]
 [    140     789]
 [    141     835]
 [    142    1278]
 [    143    1391]
 [    144    1035]
 [    145     164]
 [    146     958]
 [    147   14881]
 [    148     281]
 [    149     195]
 [    150     442]
 [    151     513]
 [    152      18]
 [    153     678]
 [    154     580]
 [    155     106]
 [    156     602]
 [    157     162]
 [    158     151]
 [    159      17]
 [    160     603]
 [    161    3321]
 [    162     330]
 [    163     365]
 [    164      32]
 [    165      60]
 [    166    2070]
 [    167      54]
 [    168     114]
 [    169     289]
 [    170     209]
 [    171     199]
 [    172     204]
 [    173     100]
 [    174     125]
 [    175       3]
 [    176     165]
 [    177      58]
 [    178      38]
 [    179      70]
 [    180      96]
 [    181      73]
 [    182      64]
 [    183       7]
 [    184      17]
 [    185     222]
 [    186      16]
 [    187      60]
 [    188       1]
 [    189       5]
 [    190      28]
 [    191      34]
 [    192       4]
 [    193      10]
 [    194      11]
 [    195       4]
 [    196       7]
 [    197       9]
 [    198       1]
 [    199       1]
 [    200       2]
 [    201       1]]

In [117]:
data.sort_values(by='trans_date', axis=0, inplace=True)

In [118]:
data.reset_index(inplace=True, drop=True)

In [119]:
data.head()

   client_id  trans_date  small_group  amount_rur
0      44379           0           52      62.535
1      43594           0          125      10.524
2      43594           0           36      86.255
3       5882           0           12       5.132
4       5882           0           18      11.678

In [120]:
len(np.unique(data['small_group']))

202

In [121]:
df = data.groupby('client_id')['small_group'].agg(lambda x: list(x))

In [122]:
df = pd.DataFrame(df)
df.reset_index(inplace=True)

In [123]:
df.head()

   client_id                                        small_group
0          4  [1, 3, 1, 1, 1, 4, 1, 1, 36, 15, 1, 1, 34, 1, ...
1          6  [15, 3, 1, 3, 1, 15, 15, 3, 37, 11, 3, 1, 3, 1...
2          7  [3, 19, 1, 4, 11, 25, 3, 1, 18, 1, 1, 25, 9, 2...
3         10  [9, 19, 1, 0, 11, 1, 18, 24, 1, 15, 1, 3, 1, 1...
4         11  [3, 25, 1, 1, 11, 1, 25, 1, 1, 11, 3, 1, 22, 2...

In [124]:
target = pd.read_csv(os.path.join(data_folder, 'train_target.csv'), delimiter=',')

In [125]:
target.head()

   client_id  bins
0      24662     2
1       1046     0
2      34089     2
3      34848     1
4      47076     3

In [126]:
df = df.merge(target, how='inner', on='client_id')

In [127]:
df.head()

   client_id                                        small_group  bins
0          4  [1, 3, 1, 1, 1, 4, 1, 1, 36, 15, 1, 1, 34, 1, ...     1
1          6  [15, 3, 1, 3, 1, 15, 15, 3, 37, 11, 3, 1, 3, 1...     1
2          7  [3, 19, 1, 4, 11, 25, 3, 1, 18, 1, 1, 25, 9, 2...     0
3         10  [9, 19, 1, 0, 11, 1, 18, 24, 1, 15, 1, 3, 1, 1...     3
4         11  [3, 25, 1, 1, 11, 1, 25, 1, 1, 11, 3, 1, 22, 2...     3

In [128]:
df['bins'].value_counts()

2    7560
3    7509
1    7497
0    7434
Name: bins, dtype: int64

In [129]:
df['bins'] = df['bins'].apply(lambda x: 0 if x in [0, 1] else 1)

In [130]:
df.head()

   client_id                                        small_group  bins
0          4  [1, 3, 1, 1, 1, 4, 1, 1, 36, 15, 1, 1, 34, 1, ...     0
1          6  [15, 3, 1, 3, 1, 15, 15, 3, 37, 11, 3, 1, 3, 1...     0
2          7  [3, 19, 1, 4, 11, 25, 3, 1, 18, 1, 1, 25, 9, 2...     0
3         10  [9, 19, 1, 0, 11, 1, 18, 24, 1, 15, 1, 3, 1, 1...     1
4         11  [3, 25, 1, 1, 11, 1, 25, 1, 1, 11, 3, 1, 22, 2...     1

In [131]:
df['bins'].value_counts()

1    15069
0    14931
Name: bins, dtype: int64

In [132]:
df.rename({'client_id': 'id', 'small_group': 'mcc', 'bins': 'target'}, axis=1, inplace=True)

In [133]:
df.head()

   id                                                mcc  target
0   4  [1, 3, 1, 1, 1, 4, 1, 1, 36, 15, 1, 1, 34, 1, ...       0
1   6  [15, 3, 1, 3, 1, 15, 15, 3, 37, 11, 3, 1, 3, 1...       0
2   7  [3, 19, 1, 4, 11, 25, 3, 1, 18, 1, 1, 25, 9, 2...       0
3  10  [9, 19, 1, 0, 11, 1, 18, 24, 1, 15, 1, 3, 1, 1...       1
4  11  [3, 25, 1, 1, 11, 1, 25, 1, 1, 11, 3, 1, 22, 2...       1

In [134]:
df.shape

(30000, 3)

In [135]:
all_l = []
for i in range(len(df)):
    all_l.append(len(df.loc[i, 'mcc']))

In [136]:
np.median(all_l)

863.0

In [137]:
np.quantile(all_l, 0.1)

728.0

In [138]:
np.quantile(all_l, 0.6)

904.0

In [139]:
np.max(all_l)

1150

In [140]:
df['mcc'] = df['mcc'].apply(lambda x: x[-900:])

In [141]:
df['target'].value_counts()

1    15069
0    14931
Name: target, dtype: int64

In [142]:
zero_id = df.loc[df['target']==0]['id']
one_id = df.loc[df['target']==1]['id']

reduced_one_id = np.random.choice(one_id, size=len(df.loc[df['target']==0]), replace=False)
df = df.loc[df['id'].isin(list(zero_id)+list(reduced_one_id))]
df.reset_index(inplace=True, drop=True)
df['target'].sum() / len(df) * 100

50.0

In [143]:
df = df.sample(frac=1).reset_index(drop=True)

### Train-valid-test split

In [144]:
all_id = df['id'].values

In [145]:
train_id = all_id[:int(0.7 * len(all_id))]
valid_id = all_id[int(0.7 * len(all_id)):int(0.8 * len(all_id))]
test_id = all_id[int(0.8 * len(all_id)):]

In [146]:
train_df = df.loc[df['id'].isin(train_id)]
valid_df = df.loc[df['id'].isin(valid_id)]
test_df = df.loc[df['id'].isin(test_id)]

In [147]:
train_df['target'].sum() / len(train_df), valid_df['target'].sum() / len(valid_df), \
test_df['target'].sum() / len(test_df)

(0.502368081136679, 0.4939718687206966, 0.49472626820693116)

In [148]:
len(train_id) / len(df), len(valid_id) / len(df), len(test_id) / len(df)

(0.6999866050498962, 0.09999330252494809, 0.20002009242515573)

In [149]:
train_df.reset_index(inplace=True, drop=True)
valid_df.reset_index(inplace=True, drop=True)
test_df.reset_index(inplace=True, drop=True)

In [150]:
train_df.to_csv('../../data/processed_age/train.csv')
valid_df.to_csv('../../data/processed_age/valid.csv')
test_df.to_csv('../../data/processed_age/test.csv')